.container {
    width: 800px;
    margin: 0 auto;
    box-shadow: 2px 2px 5px #707070;
    padding: 50px;
  }
  
  p, li {
    color: #707070;
  }
  
  header {
    text-align: center;
  }
  
  h1 {
    color: #DB0038;
  }
  
  h2 {
    color: #3998A3;
  }
  
  h3 {
    color: #474747;
  }
  
  .hero {
    background-color: #f4f4f4;
    text-align: center;
    padding-bottom: 10px;
  }
  
  li {
    padding: 5px 0;
  }
  
  .rating {
    color: #F4B400;
    font-size: 25px;
  }
  
  footer {
    text-align: center;
  }
  
  body {
    font-family: 'Happy Monkey', cursive;
  }